<!DOCTYPE html>
<html>
	<body>

		<header>
			<h2><i>Example of admin page with full list of orders:</i></h2>
			<hr/>
			<br>
		</header>

		<% @orders.each do |z| %>
			<div class="row justify-content-left">
				<div class="col">
					<% arr = z['orders_input'].split(';') %>
						<h5><b>Order: </b>added: <%= z['created_at'] %></h5>

							<% arr.each do |x| %>
								<ul>
									<li><%= x %></li>
								</ul>
							<% end %>
				</div>
				<div class="col">
							<p>
								Name: <%= z['name'] %>; Phone: <%= z['phone'] %>;<br>
								Address: <%= z['address'] %>;
							</p>
				</div>
			</div>
			<hr/>
		<%  end %>

	</body>
</html>
